.container2 h3{
    color:white;
    text-align: left;
    
  }
  a{
    color: white;
    text-decoration: none;
    
  }
  a:hover{
    color: #debfb0;
  }
  h5{
    color: #4d573b;
    font-size: 15pt;
  }
  .container2 p{
    color:white;
    font-size: 10pt;
  }
  .container3 p{
    color: #5a5a5d;
    font-size: 10pt;
  }
  p strong{
    color:#debfb0;
  }
  *{
    margin: 0px;
    padding: 0px;
  }
  body {
      font-family:'Trebuchet MS',sans-serif;
      
  }
  .container{
    
    width: 50%;
    height: 1100px;
    margin: 0px auto;
    border: 1px solid black;
  }
  
  
  h1{
    font-size: 42pt;
    display:inline;
  }
  header{
    display: block;
    height: 150px;
    width: auto;
    background-color: #5a5a5d;
    font-size: 17.5pt;
    padding-left: 239pt;
    padding-top: 20pt;
    text-indent: 0pt;
    text-align: left;
    color: white;
  }
  section{
    background-color: #8b8d92;
    width: auto;
    height: 70px;
    font-size: 8pt;
    padding-left: 239pt;
    padding-right: 50pt;
    padding-top: 20pt;
    text-indent: 0pt;
    text-align: left;
    color: white;
  }
  .container{
    width: 50%;
    height: 1100px;
    margin: 0px auto;
    border: 1px solid black;
  }
  .container1{
    display: flex;
    
  }
  .container2{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 250px;
    height: 747px;
    text-align: left;
    padding-left: 20pt;
    padding-top: 60pt;
    justify-content: space-around;
    background-color: #3d2f36;
  }
  .container3{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    padding-left: 50pt;
    margin-top: 30px;
  }
  .container3 h2{
    font-size: 30pt;
  }
  h3{
     font-size: 20pt;
     text-align: center;
  }
  .contact{
    display: flex;
    flex-direction: column;
   
  }
  
  
  .progress-bar {
    display: flex;
    align-items: center;
    gap: 5px; 
    margin-bottom: 8px;
    white-space: nowrap; 
  }
  
  
  
  .percentage {
    min-width: 35px; 
    text-align: left;
  }
  
  .bar {
    flex-grow: 1; 
    max-width: 120px; 
    height: 10px;
    background-color: #665454;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .fill {
    height: 100%;
    background-color: #e0c1a3;
  }
  .icono-circular {
    background-color: #2e2328;
    color: white; 
    border-radius: 50%; 
    padding: 10px; 
    font-size: 24px; 
    margin-right: 10px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
  }
  
  .container2 h3 {
    position: relative;
    text-decoration: none;  
  }
  
  .container2 h3::after {
    content: '';
    position: absolute;
    left: 55px;  
    right: 30px;  
    bottom: -2mm;  
    height: 3px; 
    background-color: #5a5a5d; 
  }
  .container3 h2 {
    position: relative;
    text-decoration: none;  
  }
  
  .container3 h2::after {
    content: '';
    position: absolute;
    left: 55px; 
    right: 0px;  
    bottom: -4mm;  
    height: 4px;  
    background-color: #5a5a5d;  
  }
  
  ul {
    list-style-type: disc; 
    padding-left: 20px; 
  }
  
  li h5 {
    margin: 0; 
  }
  
  li p {
    margin-left: 20px; 
    margin-top: 5px;
    margin-bottom: 10px; 
  }
  .container3 p::before {
    content: "• "; 
    color: #4d573b;
    font-size: 10px; 
    margin-right: 1px; 
  }
  