body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}


.page{
	height: 11in;
	width: 8.5in;
}

.header {
    background-color: #29648A;
    padding: 20px;
    text-align: left;
    border-radius: 0px 0px 0px 0px;
}

.header h1 {
    font-style: 'Extra-Bold';
    color: #fdfdfd;
    margin: 0;
}

.header h2 {
    font-style: 'Extra-Bold';
    color: #fdfdfd;
    margin: 0;
}

.leftcolumn {   
    float: left;
    width: 70%;
    height: 100%;
	padding: 10px 10px 10px 10px;
	background-color: #fdfdfd;
}

.rightcolumn {
    float: left;
    width: 30%;
    height: 100%;
 	padding: 10px 10px 10px 10px;
    background-color: #e0e1e2;
}

.section {
    padding: 5px;
}

.section h5 {
    margin: 0;
    padding: 0;
}

.section h2, h3 {
    margin: 0;
    padding: 0;
}


.headline {
	line-height: 2em;
	color: black;
	font-size: 20px;
}

.headline h2
{
	color: #29648A;
	margin: 5px 0px 5px 0px;
}


.headline h2:after
{
    content:' ';
    display:block;
    border:2px solid #29648A;
}


i {
	font-family: 'Open Sans', sans-serif;
    color: #29648A;
}

@page { 
	size: 8.5in 11in; 
	margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

/* skill bars */

.skcontainer {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.sk25 {width: 25%; background-color: #29648A; border-radius: 0px 15px 15px 0px;} 
.sk50 {width: 50%; background-color: #29648A; border-radius: 0px 15px 15px 0px;} 
.sk75 {width: 75%; background-color: #29648A; border-radius: 0px 15px 15px 0px;} 
.sk100 {width: 100%; background-color: #29648A; border-radius: 0px 15px 15px 0px;} 